*{
    margin:0;
    padding:0;
}
.content{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:br br br;
    grid-template-areas:
     about compet
     exp edu
     hob hob;
}
#about{
  grid-area: about;
}
#competencies{
  grid-area: compet;
}
#experiences{
  grid-area: exp;
}
#education{
  grid-area: edu;
}
#hobbies{
  grid-area: hob;
}